{% extends 'base.html.twig' %}

{% block title %}Reservas{% endblock %}

{% block body %}
    <h1>Realizar Reserva</h1>

    <a href="{{ path('area_cliente_index') }}" class="btn btn-secondary mt-3">Voltar</a>

{% endblock %}

